<div class="widget tag">
<h3 class="title">links</h3>
<ul class="entry">
<li><a href="http://beforeload.github.io/" title="">Daniel Liu</a></li>
<li><a href="http://likewhat.tk/blog/" title="">Li Ke</a></li>
</ul>
</div>